<div class="pv4">
  <div class="ph3 mw8 center">
    {{ with .heading }}
      <h2 class="f2 b lh-title mb2">{{ . }}</h2>
    {{ end }}

    <div class="flex-ns flex-wrap mhn2-ns mb3">
      {{ range .images }}
        <div class="ph2-ns w-50-m w-25-l mb4">
          <img src="{{ .image }}" alt="" class="db mb1 w-100 mw4">
          <h3 class="f4 b">
          {{ .title }}
          </h3>
          <p class="f6">
          	{{ .caption }}
          </p>
        </div>
      {{ end }}
    </div>
  </div>
</div>