

<div class="pv3 {{if .imageUrl}}pv5 pv6-l{{end}} ph3 bg-center bg-black center cover" style="background-image: url('{{.imageUrl}}');">
  <div class="mw8 center ph3">
    <div class="mw8 relative pa4-ns ma3 center br1 fadein">
      <div class="tc">
        <div class="mb3">
          <div>
          <h1 class="f3 b di lh-title mb3 white mw6 fade-1">
            <!-- <div class="typing-wrapper"><div class="typing-text">{{.title}}</div></div> -->
            {{.title}}
          </h1>
        </div>
          {{ if .icon }}
          <div class="tc mt3 mb1">
            <img src="{{.icon}}" alt="App icon" class="mw3 br1 mb0 fade-1"/><br />
          </div>
          {{ end }}
          {{ if .subtitle }}
          <div class="b f6 ttu di lh-title mb3 white mw6 fade-1">
            {{.subtitle}}
          </div>
          {{ end }}
          {{ if .cta }}
          <div class="mt2 fade-2">
            <a href="{{.link}}" class="btn raise bg-primary white" style="box-shadow:none;">{{.cta}}</a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
