<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Vital Mind Media logo" class="db w4 center mb3 br0">
			<a name="contact">&nbsp;</a>
			
			{{ partial "contact-form" . }}

		</div>
		<div class="tc w-100 ttu small">Copyright &copy; 2024 Vital Mind Media // San Francisco, CA // info@vitalmindmedia.com</div>
		
	</div>

</footer>

{{ partial "svg" . }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){  // $(document).ready shorthand
	  $('.fade-1').delay(10).animate({'opacity':'1'},700);
	  $('.fade-2').delay(1200).animate({'opacity':'1'},700);
	  $('.fade-3').delay(3000).animate({'opacity':'1'},700);
	  $('.fade-4').delay(3500).animate({'opacity':'1'},700);
	});
</script>
<script type="text/javascript" src="/app.js"></script>
<script type="text/javascript" src="/js/scrollto.js"></script>
<script type="text/javascript">
	function detectmob() {
	    if( navigator.userAgent.match(/Android/i)
	    || navigator.userAgent.match(/webOS/i)
	    || navigator.userAgent.match(/iPhone/i)
	    || navigator.userAgent.match(/iPod/i)
	    || navigator.userAgent.match(/BlackBerry/i)
	    || navigator.userAgent.match(/Windows Phone/i)
	    ){

	        // If mobile, then we do all this

	    }
	    else {

	        // If not mobile then do this
	document.getElementById("bgvid").innerHTML = '<source src="/video/new.mp4" type="video/mp4">';

	    }
	}
	detectmob();

</script>

<script src="/js/perfundo.min.js"></script>
<script>
  perfundo('.perfundo');
</script>