<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center divider-grey relative z-max tc">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none no-underline ttu b">
		<nobr><img src="/img/logo.svg" alt="Vital Mind Media logo" class="br0 db mb0"/></nobr>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">About</a></li>

		<li><a href="/values" class="pa3 no-underline db">Clients</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
