{{ define "main" }}

{{ partial "banner" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "cta" .Params.cta "link" .Params.link) }}

{{ partial "text-and-image" (dict "heading" .Params.intro.heading "text" .Params.intro.text "image" .Params.intro.image) }}

{{ partial "4-up" (dict "heading" .Params.howtoplay.heading "images" .Params.howtoplay.images) }}

<div class="bg-black pt4 white">
<div class="tc center mb4 mw8">
	<a href="{{.Params.link}}"><img class="w-100 mw3 mb2 br1" src="{{.Params.icon}}" /></a>
	<h3 class="f3 b">Download & Play for Free</h3>
	<p class="center cms">Phage Invaders is available as a free mobile app for iPhone and iPad!</p>
	<a href="{{.Params.link}}"><img class="w-100 mw4 mb4" src="/img/btn_download_ios.svg" /></a>
</div>
</div>

{{ partial "screenshots" (dict "items" .Params.screenshots.images "heading" "Screenshots" "pageUrl" .Permalink "galleryID" "1") }}

<div class="tc center mb4 mw8">
	<h3 class="f3 b">Credits</h3>
	<p class="center cms"><em>Phage Invaders</em> was created in collaboration with the <a class="b" href="https://innovativegenomics.org">Innovative Genomics Institute</a>, including a high schooler, an undergrad, and two PhD scientists in partnership with <a class="b" href="/">Vital Mind Media</a>. For full credits, click “CREDITS” on the main game menu.</p>
	<p class="center cms"><a href="/privacy" class="b f6">Privacy Policy</a></p>
</div>

{{ end }}