{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "cta" .Params.cta "link" .Params.link) }}


<div class="pb3 bg-black"><a name="about">&nbsp;</a></div>
{{ partial "text-and-video" (dict "heading" .Params.approach.heading "text" .Params.approach.text) }}


{{ partial "story" (dict "story" .Params.story) }}


<div class="pb3 bg-white"><a name="portfolio">&nbsp;</a></div>
{{ partial "gallery" (dict "projects" .Params.projects "pageUrl" .Permalink "galleryID" "1") }}


<div class="w-100 tc bg-grey-4 white pv4">
	<a name="clients">&nbsp;</a>
	<h3 class="f3 b mt3">Our Clients</h3>
	{{ partial "3-up" (dict "items" .Params.clients) }}
</div>


{{ end }}
